body {
  background-color: #17afe6;
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;  /* Stack vertically */
  align-items: center;     /* Center horizontally */
  min-height: 100vh;
}


.button {
  width: 150px;
  height: 100px;
  background-color: dark-green;
  border-radius: 0px 20px 0px 20px;
}

.input {
  width: 300px;
  height: 200px;
  background-color: white;
  border-radius: 0px 15px 15px 15px;
}
